

      
      #maindv {
        background: url("../background.jpg") no-repeat;
        background-size: cover;
        background-position: 0 100%;
       
        }
      .container{
        background: url("../background.jpg") no-repeat;
        background-size: cover;
        background-position: 0 100%;
        }
      